# Dependencies
node_modules/
.pnpm-store/
docs/teste irpf
docs/
# Build outputs
dist/
.next/
out/

# Turbo
.turbo/

# Environment
.env
.env.local
.env.*.local

# IDE
.vscode/
!.vscode/extensions.json
.idea/

# OS
.DS_Store
Thumbs.db

# Testing
coverage/

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# TypeScript
*.tsbuildinfo

# Misc
*.swp
*.swo
*.pdf
